<a href="https://colab.research.google.com/github/kwamasali/kwamasali/blob/master/Bitwise_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bitwise Operators

The common operators used in python include >>, <<, & and |. These are all applied to create expressions and code to binary systems. Their usage and application will be explained later. First, I will give a brief explanation of binary systems to have a good foundation for the use of these operators.

## Binary Systems

This system is how computers store and represent numerical data. They are similar to boolean data types in that they use 2 values ie. TRUE and FALSE. But differ in that, in place of those, binary systems use two states of 1 and 0.

They can be used to create both large and small digits, which we will explore in the examples below. For the best understanding of binary numbers, we must use our base as numbers that are the squares of 2. See a few examples in the chart;

#![download.jpeg]()

The picture above is examples of the squares of 2. In binary systems, a 1 is used to represent TRUE and 0 for FALSE. An example of this will be blow for how to calculate the binary number of a small number.





![images.png]()

For the number above(11), the binary number is b1011.

Feel free to ask questions at this point and I will try to answer them or give more examples of binaries to help with the understandingof the topic

With that basic knowledge, back to bitwise operators.

##Bitwise Operators; Definitions, Uses and Applications.

 the symbols are >>, <<, & and |. They work with individual bits of binary representation. Lets get into it;

Binary number for n1

In [ ]:
n1 = 28

print(bin(n1))

0b11100

Binary number for n2

In [ ]:
n2 = 19
print(bin(n2))

0b10011

Heres how to shorten the equation and get inly the binary number without the unnecessary first two figures.

We shall use the shortened binary number to make it easier to understand.

In [ ]:
n2 = 19
print(bin(n2)[2:])

10011

###AND (&)

If both inputs are 1, the output will be 1. And if only one input has the value 1, the output will give 0.

In [ ]:
n1 = 28
n2 = 19
n3 = n1 & n2

'''
The equation is =
  11100
  -----
  10011
= 10000
'''

print(bin(n3)[2:])

10000

### OR (|)

If both inputs are 0, the output will be 0. Everything else will give an output of 1.

In [ ]:
n1 = 28
#binary number for this is 11100

n2 = 19
#binary number for this is 10011

n4 = n1 | n2

'''
The equation is =
  11100
  -----
  10011
= 01111
'''

print(bin(n4)[2:])

###XOR (^) Either Or

Where both values are the same, the output is 0. Everything else gives 1.

In [ ]:
n1 = 28
#binary number for this is 11100

n2 = 19
#binary number for this is 10011

n5 = n1 ^ n2

'''
The equation is =
  11100
  -----
  10011
= 1111
'''

print("0"+ bin(n5)[2:])

###SHIFTS (<< , >>)

Similar to moving the decimal point. the bits shifted to the left or right by the given number of places (and new bits on the right-hand-side are zeros). This is the same as multiplying x by 2**y.

In [ ]:
n1 = 28
#binary number for this is 11100

n2 = 19
#binary number for this is 10011

n6 = n1 >> 2

print(bin(n6)[2:])
#binary number for this is 0b111

### COMPLEMENT (~)

Returns the complement of x - the number you get by getting the inverse of 1 for a 0 and each 0 for a 1. This is the same as -x - 1.

In [24]:
n1 = 28
#binary number for this is 11100

n2 = 19
#binary number for this is 10011

n7 = n1 & ~n2

print(bin(n7)[2:])

1100

##Where are they used

###Flags and Permissions

Example: This can be applied to a computer system where permissions must be given access to different features of a cloud system. We have 4 features;

Read, Write, Execute, Change Policy.

Each feature is assigned 1 for TRUE and 0 for FALSE.

An example of this would be a binary number for different users;

user1: 1111

Who has full access to all features of the cloud admin system and can read, write, execute and change policy.

user2: 1001

Has access to the read and change policy features.

Now for application of the operators. First example is to find which permissions they have in common using the '&' operator.

In [26]:
'''
Access to the DayStar Daycare App

Read, Register, Reserve Sitter, Admin Dashboard, Staff Profiles.
'''

user1 = 0b11100
#This is a parent
user2 = 0b10010
#This is a sitter
user3 = 0b10110
#This is a manager and head teacher
user4 = 0b11011
#This is the IT team for the daycare

#Which features do they have in common using the & operator.
access1 = user1 & user2 & user3 & user4

print(bin(access1)[2:])
#They only have the read feature in common

10000